* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}
header {
  width: 32rem;
  height: 4rem;
  background-color: #ff8a00;
}
header img:first-of-type {
  width: 9.8rem;
  height: 2.9rem;
  margin-left: 3.4rem;
  margin-top: 0.5rem;
}
header img:nth-of-type(2) {
  width: 2.2rem;
  height: 2.9rem;
  margin-left: 8.9rem;
}
header img:nth-of-type(3) {
  width: 2.3rem;
  height: 2.9rem;
  margin-left: 2.1rem;
}
.search {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-left: 1rem;
}
.search input {
  float: left;
  width: 19.8rem;
  height: 4rem;
  border: 1px solid #eeeeee;
  border-right: none;
  padding-left: 1rem;
  color: #757575;
}
.search span {
  float: left;
  display: block;
  width: 5rem;
  height: 4rem;
  line-height: 4rem;
  padding-right: 3rem;
  background: url(../image/SecondHandList/search_03.png) white no-repeat 4rem 1rem;
  background-size: 1.8rem 1.8rem;
}
nav {
  position: relative;
}
nav ul {
  border: 1px solid #cccccc;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #666666;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li {
  position: relative;
  height: 4rem;
  line-height: 4rem;
}
nav ul li .tringle {
  position: absolute;
  top: 2rem;
  left: 4rem;
  display: inline-block;
  border-width: 0.6rem;
  border-color: #cccccc transparent transparent transparent;
  border-style: solid;
}
nav .now {
  width: 28rem;
  padding: 2rem 0rem;
  margin-left: 2rem;
  display: flex;
  border-bottom: 1px solid #ff8a00;
}
nav .now img {
  width: 7rem;
  height: 7rem;
}
nav .now .setup {
  padding-left: 0.7rem;
  font-size: 1.2rem;
}
nav .now .setup p:first-of-type {
  font-weight: bold;
}
nav .now .setup p:nth-of-type(2) {
  padding-top: 0.8rem;
}
nav .now .setup p:nth-of-type(3),
nav .now .setup p:nth-of-type(4) {
  padding-top: 0.5rem;
  color: #b0b0b0;
}
nav .now .setup p:nth-of-type(3) span,
nav .now .setup p:nth-of-type(4) span {
  color: #ff8a00;
}
nav .now:last-of-type {
  border-bottom: none;
}
.area2 {
  position: absolute;
  top: 14rem;
  left: 0rem;
  border: 1px solid #cccccc;
}
.area2 .uls {
  overflow: hidden;
}
.area2 .uls .u2 {
  float: left;
  font-size: 1.8rem;
  font-weight: bold;
  width: 9rem;
  text-align: center;
}
.area2 .uls .u2 li:first-of-type {
  height: 4rem;
  line-height: 4rem;
  color: #ff8a00;
  background-color: white;
}
.area2 .uls .u2 li:nth-of-type(2) {
  padding-top: 1rem;
  background-color: #f0f0f0;
  border-right: 1px solid #cccccc;
  height: 27rem;
}
.area2 .uls .u3 {
  width: 22.8rem;
  height: 32rem;
  float: left;
  font-size: 1.2rem;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap ;
}
.area2 .uls .u3 li {
  text-align: center;
  width: 50%;
  height: 4rem;
  line-height: 4rem;
}
.price2 {
  position: absolute;
  top: 14rem;
  left: 0rem;
  font-size: 1.2rem;
  background-color: white;
}
.price2 ul {
  border-right: 1px solid #cccccc;
}
.price2 ul li {
  padding-left: 2rem;
  width: 29.9rem;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #cccccc;
}
.house2 {
  position: absolute;
  top: 14rem;
  left: 0rem;
  height: 30rem;
  font-size: 1.2rem;
  background-color: white;
}
.house2 ul {
  border-right: 1px solid #cccccc;
}
.house2 ul li {
  margin-left: 2rem;
  width: 29.9rem;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #cccccc;
}
.house2 ul li input {
  margin-left: 22.5rem;
}
.house2 button {
  margin-left: 2rem;
  width: 28rem;
  height: 4rem;
  background-color: #ff8a00;
  border: none;
}
.more2 {
  position: absolute;
  top: 14rem;
  left: 0rem;
  width: 100%;
}
.more2 ul {
  padding: 0 2rem;
  background-color: white;
}
.more2 ul li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #cccccc;
}
.more2 ul li p {
  font-weight: bold;
}
.more2 ul li ul {
  overflow: hidden;
}
.more2 ul li ul li {
  float: left;
  text-align: center;
  box-sizing: border-box;
  margin-top: 1.2rem;
  width: 6.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  line-height: 2.5rem;
  border: 1px solid #cccccc;
}
footer {
  width: 32rem;
  height: 20.8rem;
  color: #939494;
  background-color: #2f3130;
}
footer .beijing {
  font-size: 1.2rem;
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #3e403f;
  padding-left: 1.5rem;
}
footer ul {
  overflow: hidden;
}
footer ul .apple {
  width: 7.25rem;
  margin-top: 1.5rem;
  float: left;
  margin-left: 2.7rem;
  display: flex;
  justify-content: space-evenly;
}
footer ul .apple img {
  width: 1.8rem;
  height: 1.8rem;
}
footer ul .apple div {
  margin-left: 1.8rem;
}
footer ul .apple:nth-of-type(2) {
  float: left;
  margin-left: 6rem;
}
footer .gs {
  margin-top: 2.2rem;
  text-align: center ;
}
footer .wl {
  margin-top: 0.8rem;
  text-align: center ;
}
