* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 100px;
  font-size: 1.6rem;
  background-color: #f5f5f5;
}
header {
  width: 100%;
  overflow: hidden;
  background: url(../image/my/bg1.png);
  border-bottom: 0.1rem solid #ff0000;
}
header div {
  float: right;
  margin: 1.5rem;
}
header div img {
  width: 2rem;
}
header .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
header .imgs img {
  width: 5rem;
}
header .imgs p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 6.6rem;
  height: 3rem ;
  display: block;
  border: #fff 0.1rem solid;
  color: #fff;
}
main {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 1rem;
}
main ul {
  margin: 1rem;
}
main ul li {
  margin: 1rem;
  list-style: none;
  line-height: 4rem;
  width: 100%;
  color: #666666;
  padding-left: 1rem;
  background: url(../image/my/right.png) no-repeat 2.1rem 0.1rem;
  background-size: 1.8rem 1.8rem;
  border-bottom: solid 0.1rem #dcdcdc;
}
